@{
    var adminList = ViewBag.AdminList as IEnumerable<Domain.Models.Admin>;
}

<h2>Admin Listesi</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <!-- Diğer alanlar -->
        </tr>
    </thead>
    <tbody>
        @foreach (var admin in adminList)
        {
            <tr>
                <td>@admin.Id</td>
                <td>@admin.FirstName</td>
                <td>@admin.FirstName</td>
                <!-- Diğer alanlar -->
            </tr>
        }
    </tbody>
</table>
